---
http_interactions:
- request:
    method: get
    uri: https://phabricator.kde.org/api/differential.query?api.token=API_TOKEN&ids%5B%5D=2372
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"2372","phid":"PHID-DREV-3hwsuxgf5oyi4okkmnpe","title":"Make
        powerdevil normal executable instead of kded module","uri":"https:\/\/phabricator.kde.org\/D2372","dateCreated":"1470660657","dateModified":"1470747330","authorPHID":"PHID-USER-sbtr5bdfjssd5j7bajyc","status":"3","statusName":"Closed","branch":null,"summary":"This
        will allow kwin to grant permission to powerdevil which no other\napplication
        should have. Previously used kded module is now replaced by\nthe application
        which installs in LIBEXEC dir and started by desktop\nfile in \/etc\/xdg\/autostart","testPlan":"Restarted
        session, powerdevil starts and all functions work perfectly","lineCount":"109","activeDiffPHID":"PHID-DIFF-oqaxk4a75gtdfpaoybqw","diffs":["5773","5763","5759","5758","5751","5749","5741"],"commits":["PHID-CMIT-axpl7ufbiqrmpynlc5vc"],"reviewers":["PHID-USER-uwghejbfhru3fndbn5xe","PHID-USER-oxyctqq5mdurvzfitw7a","PHID-PROJ-ly5dl5bx46ipmku3jlk3"],"ccs":["PHID-USER-b3a77aiq4ovx6vwkve62","PHID-USER-fyvtsxsrx3ajs5nxpevf","PHID-USER-235y5e4es3yt2yhctcuq"],"hashes":[["gtcm","7c987d99bea465814620800861a2cc0523b74c03"],["gttr","7eb9aab91e739999fbb52111de60cd2cdc2e9340"]],"auxiliary":{"phabricator:projects":["PHID-PROJ-ly5dl5bx46ipmku3jlk3"],"phabricator:depends-on":[]},"repositoryPHID":"PHID-REPO-ryeqxzz472uwg3xgmufh"}],"error_code":null,"error_info":null}'
  recorded_at: Fri, 12 Aug 2016 11:17:52 GMT
recorded_with: VCR 3.0.3
