---
http_interactions:
- request:
    method: get
    uri: https://phabricator.kde.org/api/maniphest.info?api.token=API_TOKEN&task_id=3192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"id":"3192","phid":"PHID-TASK-vbxrkcpfnkgximvfaspj","authorPHID":"PHID-USER-52tjusjy3fj45635wjgh","ownerPHID":"PHID-USER-sbtr5bdfjssd5j7bajyc","ccPHIDs":["PHID-USER-nqmbykifshobctldxa7o","PHID-PROJ-3qa4tomwgrmcmp4ym2ow","PHID-USER-52tjusjy3fj45635wjgh"],"status":"resolved","statusName":"Resolved","isClosed":true,"priority":"Needs
        Triage","priorityColor":"violet","title":"Move Mediacentre to Extragear","description":"","projectPHIDs":["PHID-PROJ-ly5dl5bx46ipmku3jlk3"],"uri":"https:\/\/phabricator.kde.org\/T3192","auxiliary":[],"objectName":"T3192","dateCreated":"1467898685","dateModified":"1469630104","dependsOnTaskPHIDs":[]},"error_code":null,"error_info":null}'
  recorded_at: Fri, 12 Aug 2016 11:17:52 GMT
recorded_with: VCR 3.0.3
