---
http_interactions:
- request:
    method: get
    uri: https://phabricator.kde.org/api/project.query?api.token=API_TOKEN&phids%5B%5D=PHID-PROJ-ic6son3yl5tcvafnqbn6&phids%5B%5D=PHID-PROJ-o2ghhdqrnnhccudwekzd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"data":{"PHID-PROJ-o2ghhdqrnnhccudwekzd":{"id":"100","phid":"PHID-PROJ-o2ghhdqrnnhccudwekzd","name":"Neon","profileImagePHID":"PHID-FILE-ldn5yccmbzzhhr2umoyp","icon":"organization","color":"blue","members":["PHID-USER-52tjusjy3fj45635wjgh","PHID-USER-4kerus6xjnzeqjtp3t2k"],"slugs":["neon"],"dateCreated":"1465461881","dateModified":"1469746666"},"PHID-PROJ-ic6son3yl5tcvafnqbn6":{"id":"75","phid":"PHID-PROJ-ic6son3yl5tcvafnqbn6","name":"Neon
        Jenkins Administrators","profileImagePHID":"PHID-FILE-33bhgu4puik2hn3j7vdc","icon":"policy","color":"red","members":["PHID-USER-sbtr5bdfjssd5j7bajyc","PHID-USER-52tjusjy3fj45635wjgh","PHID-USER-4kerus6xjnzeqjtp3t2k"],"slugs":["neon_jenkins_administrators"],"dateCreated":"1457084331","dateModified":"1458733804"}},"slugMap":[],"cursor":{"limit":100,"after":null,"before":null}},"error_code":null,"error_info":null}'
  recorded_at: Fri, 12 Aug 2016 11:17:54 GMT
recorded_with: VCR 3.0.3
