---
http_interactions:
- request:
    method: get
    uri: https://phabricator.kde.org/api/differential.query?api.token=API_TOKEN&ids%5B%5D=2300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"2300","phid":"PHID-DREV-ehv7as4qqw4qfugigxvu","title":"always
        load about-distro in ctor","uri":"https:\/\/phabricator.kde.org\/D2300","dateCreated":"1469625756","dateModified":"1469625966","authorPHID":"PHID-USER-4kerus6xjnzeqjtp3t2k","status":"3","statusName":"Closed","branch":null,"summary":"otherwise
        get a noticable delay during which we show dummy data. since\nwe only access
        on-disk content and only very little of it loading via ctor\nshould have next
        to no impact.\n\nBUG: 366158","testPlan":"","lineCount":"6","activeDiffPHID":"PHID-DIFF-pefsq6orsrjsdrxyy2xs","diffs":["5525","5524","5523"],"commits":["PHID-CMIT-7cayg256m34rhhyuwnjv"],"reviewers":["PHID-USER-ouikzjzsyzcufi7ziodl","PHID-USER-lzojzhcbgefxw5lebnhk"],"ccs":["PHID-USER-b3a77aiq4ovx6vwkve62"],"hashes":[["gtcm","320aa01e73224d9550a96e3591434a965bf76a11"],["gttr","ce94ac5ee81c0dc985f7a9e23db43fdc8418dfd3"]],"auxiliary":{"phabricator:projects":["PHID-PROJ-ly5dl5bx46ipmku3jlk3"],"phabricator:depends-on":[]},"repositoryPHID":"PHID-REPO-jzxodbgetmdsr7dze3e5","sourcePath":null}],"error_code":null,"error_info":null}'
  recorded_at: Fri, 12 Aug 2016 11:17:53 GMT
recorded_with: VCR 3.0.3
